@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size:1.4rem;
}
h1 {
  font-size: 6rem;
}
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
 
}
.clear{
  background: url('/public/images/mountains.jpg') no-repeat center/cover;
}
.snowy{
  background: url('/public/images/snowy.webp') no-repeat center/cover;
}
.cloudy{
  background: url('/public/images/cloudy.jpg') no-repeat center/cover;
}
.drizzle{
  background: url('/public/images/drizzle.webp') no-repeat center/cover;
}
.rainy{
  background: url('/public/images/rainy.webp') no-repeat center/cover;
}
.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
}

.container {
  max-width: 700px;
  height: 600px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{
  width: 100%;
  margin: 1rem auto;
}
.condition {
  position: relative;
  right: -90%;
  transform: rotate(270deg);
  transform-origin: 0 0;
  
}
.bottom{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}